*{
    margin: 0;
    padding: 0;
}

.header_area{
background: #fffbfb;
overflow: hidden;
}
.header_area h1{
    color: #575757;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 275px;
}
.header_area h1 span{
    color: #FBA24F;
}
.header_area p{
    color: #828282;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 65px;
    margin-bottom: 55px;

}
.btn{
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 100px;
    padding: 24px 32px 24px 32px;
    margin-top: 280px;
}
.header_area img{
    margin-top: 100px;
}
.left_half{
    width:40%;
    float: left;
    padding-left:100px ;
}

.aboutme_area{
    background: url(images/about_bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600PX;
    overflow: hidden;
   
    
}
.aboutme_area h1{
    color: #707070;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 100px;
}

.aboutme_area p{
    color: #828282;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-right: 50px;
    text-align: justify;
}
.aboutme_area img{
    height: 550px;
    padding-top: 50px;
    padding-left: 150px;
}
.my_recipies_area{
     background: #fff;
     overflow: hidden;
}
.my_recipies_area h1{
    color: #676767;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px; 
}
.my_recipies_area p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 30px;
   
}

.my_recipie{
    float: left;
    text-align: left;
    width: 19%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 30px;
    padding: 25px 0 0 25px;
    margin-right: 80px;
}
.margin_left{
    margin-left: 290px;;
}
.my_recipie h2{
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
padding: 35px 0 15px 0;
   
}
.my_recipie p{
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.my_recipie img{
    width: 340px;
}