*{
    margin: 0;
    padding: 0;
}

.header_area{
    background: #fffbfb;
    overflow: hidden;
    padding-bottom: 100px;
}
.header_top{
    padding: 0;
    margin: 60px 0 0 100px;
    overflow: hidden;
}
.logo{
    float: left;width: 20%;
}
.logo a{
    text-decoration: none;
    color: #575757;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
}.logo span{
    color:#FBA24F;
}
.header_navigration ul li{
    float: left;
    list-style: none;
    padding: 0;

}
.header_navigration ul li a{
    text-decoration: none;
    color: #575757;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 5px 50px 0 15px;
}
.header_navigration ul li a:hover{
    color: #FBA24F;
    text-decoration: underline;
}
.header_area h1{
    color: #575757;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 275px;
}
.header_area h1 span{
    color: #FBA24F;
}
.header_area p{
    color: #828282;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 65px;
    margin-bottom: 55px;

}
.btn{
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 100px;
    padding: 24px 55px;
    margin-top: 280px;
}
.header_area img{
    margin-top: 100px;
    width: 100%;
}
.header_half{
    width:40%;
    float: left;
    padding-left:100px ;
}
.aboutme_area{
    background: url(images/about_bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600PX;
    overflow: hidden;    
}
.aboutme_area h1{
    color: #707070;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 100px;
}
.aboutme_area p{
    color: #828282;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 55px;
    margin-bottom: 55px;
    padding-right: 50px;
    text-align: justify;
}
.aboutme_area img{
    height: 550px;
    padding-top: 50px;
    padding-left: 150px;
}
.my_recipies_area{
     background: #fff;
     overflow: hidden;
}
.my_recipies_area h1{
    color: #676767;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    padding: 90px 0 45px;
}
.my_recipies_area p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;   
}
.my_recipie{
    float: left;
    text-align: left;
    width: 23.66%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 30px;
    padding: 25px 25px 0 25px;
    margin: 0 0 50px 100px;
}
.my_recipie h2{
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    padding: 35px 0 15px 0;   
}
.my_recipie p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.my_recipie img{
    width: 100%;
}
.social_media_area{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 10%);
    border-radius: 20px;
    overflow: hidden;
    margin: 100px;
}
.social{
    padding:5% 10% 5% 13% ;
    text-align: left;
}
.social h2{
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}
.social p{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}
.footer_area{
    width: 100%;
    background: #0B0D17;
    overflow: hidden;
    text-align: center;
    padding: 5% 0;
}
.footer_area a{
    font-family: Montserrat;
    font-size: 30px;
    color: #5B5B5B;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
.footer_area span{
    color: #FBA24F;
}
.footer_area p{
    font-family: Montserrat;
    font-size: 16px;
    color: #fff;
    font-style: normal;
    padding-top: 35px;
}